<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">

    <servlet>
        <servlet-name>DoItServlet</servlet-name>
        <servlet-class>com.shpandrak.shpanlist.web.DoItServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>com.shpandrak.shpanlist.web.WelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListInstancePageServlet</servlet-name>
        <servlet-class>com.shpandrak.shpanlist.web.pages.ListInstancePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddListInstanceItemPageServlet</servlet-name>
        <servlet-class>com.shpandrak.shpanlist.web.pages.AddListInstanceItemPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddListTemplateItemPageServlet</servlet-name>
        <servlet-class>com.shpandrak.shpanlist.web.pages.AddListTemplateItemPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTemplatePageServlet</servlet-name>
        <servlet-class>com.shpandrak.shpanlist.web.pages.ListTemplatePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListInstanceEditPageServlet</servlet-name>
        <servlet-class>com.shpandrak.shpanlist.web.pages.ListInstanceEditPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>com.shpandrak.shpanlist.web.pages.HomePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInPageServlet</servlet-name>
        <servlet-class>com.shpandrak.shpanlist.web.pages.SignInPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserPageServlet</servlet-name>
        <servlet-class>com.shpandrak.shpanlist.web.pages.CreateUserPageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitDataServlet</servlet-name>
        <servlet-class>com.shpandrak.shpanlist.web.InitDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShpanListStartupServlet</servlet-name>
        <servlet-class>com.shpandrak.shpanlist.rest.ShpanlistStartupServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ListUserWebManageServlet</servlet-name>
        <servlet-class>com.shpandrak.shpanlist.web.manage.ListUserWebManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Jersey Web Application</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.shpandrak.shpanlist.rest</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey Web Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShpanListStartupServlet</servlet-name>
        <url-pattern>/whoopee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUserWebManageServlet</servlet-name>
        <url-pattern>/webmanage/listUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoItServlet</servlet-name>
        <url-pattern>/doIt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListInstancePageServlet</servlet-name>
        <url-pattern>/listInstance/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTemplatePageServlet</servlet-name>
        <url-pattern>/listTemplate/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListInstanceEditPageServlet</servlet-name>
        <url-pattern>/listInstanceEdit/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddListInstanceItemPageServlet</servlet-name>
        <url-pattern>/addListInstanceItem/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddListTemplateItemPageServlet</servlet-name>
        <url-pattern>/addListTemplateItem/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInPageServlet</servlet-name>
        <url-pattern>/signIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserPageServlet</servlet-name>
        <url-pattern>/createUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitDataServlet</servlet-name>
        <url-pattern>/initData</url-pattern>
    </servlet-mapping>
        <welcome-file-list>
            <welcome-file>home</welcome-file>
        </welcome-file-list>
</web-app>